.tag-list {
  list-style: none;
  padding: 20px 0;
  li {
    margin-bottom: 20px;
    span {
      color: #fff;
      font-size: 130%;
    }
  }
}
.g-nav-wrap {
  background: $main-color;
  width: 100%;
  .g-nav-list {
    display: flex;
    justify-content: center;
    li {
      display: flex;
      position: relative;
      text-align: center;
      &:before {
        background: #fff;
        content: '';
        display: block;
        height: 20px;
        margin-top: -10px;
        position: absolute;
        top: 50%;
        width: 1px;
      }
      &:first-child {
        &:before {
          content: none;
        }
      }
      a {
        color: #fff;
        display: block;
        padding: 20px 10px;
        span {
          color: #fff;
        }
      }
    }
  }
}
